:root {

  /* Familles */

  --font-family-sans:
    var(--font-geist-sans),
    ui-sans-serif,
    system-ui,
    sans-serif;

  --font-family-mono:
    var(--font-geist-mono),
    monospace;

  /* Font size */

  --font-size-display: 3.5rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;

  --font-size-body-lg: 1.125rem;
  --font-size-body: 1rem;
  --font-size-small: .875rem;

  /* Font weight */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line height */

  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.7;

  /* Letter spacing */

  --tracking-tight: -0.02em;
  --tracking-normal: 0;
}