@import "tailwindcss";

@import "./tokens/colors.css";
@import "./tokens/typography.css";
@import "./tokens/radius.css";
@import "./tokens/shadows.css";
@import "./tokens/spacing.css";

@theme inline {
  /* Mapping des tokens vers Tailwind */

   /* Couleurs */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  /* Radius */
  --radius-lg: var(--radius-lg);

  /* Ombres */
  --shadow-card: var(--shadow-card);
  --shadow-floating: var(--shadow-floating);
  --shadow-focus: var(--shadow-focus);

  /* Polices */
  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-family-mono);
}

html {
  background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans);
}